<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>My Board</title>
  </head>
  <body>
      <!--수정할 내용을 적는 페이지-->
        <form method="POST" action="{% url 'updateDelete' board.id %}" enctype="multipart/form-data"> <!--action은 어디로 보낼거냐 board.id를 같이 실어서 보낼수 있음-->
            {% csrf_token%} <!-- 해킹을 방지하기 위해서 사용 밑에 내용이 다 암호화 되어서 보냄-->
            <!--insert title-->
            <div class="form-group">
              <label for="exampleFormControlInput1">insert title</label>
              <input type="text" class="form-control" name="title" value ="{{board.title}}" id="exampleFormControlInput1" placeholder="insert title">
            </div>
    
            <!--insert userName-->
            <div class="form-group">
                <label for="exampleFormControlInput1">insert userName</label>
                <input type="text" class="form-control" name="userName"  value ="{{board.userName}}" id="exampleFormControlInput1" placeholder="nickname">
            </div>
    
            <!--insert contents-->
            <div class="form-group">
              <label for="exampleFormControlTextarea1">insert contents</label><br>
              <!-- <input type ="textarea" name = 'contents' value ="{{board.contents}}" id="exampleFormControlTextarea1"> -->
              <textarea class="form-control" name = 'contents' id="exampleFormControlTextarea1" rows="3">{{board.contents}}</textarea>
            </div>

            
            <input type = 'hidden' value = 'update', name ='updateordelete'> <!--update할때는 값이 update라서 update인줄 알고 아니면 그 delete-->
            <button type = "submit" class ="btn-primary">제출</button>
          </form>
  </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>